# Python virtual environments
backend/.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Chroma DB
backend/chroma_db/

# Environment variables
.env

# Node modules (frontend)
frontend/node_modules/

# Build folders
dist/
build/